# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache
*.cache
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db